<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        bootstrap="./vendor/autoload.php"
        colors="true"
        columns="max"
        xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
        cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Kawaii gherkin tests">
            <directory>./tests</directory>
        </testsuite>
        <testsuite name="Kawaii gherkin functional tests">
            <directory suffix=".phpt">./tests/functional</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
</phpunit>
