<?xml version="1.0"?>
<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        columns="max"
>
    <testsuite name="Kawaii gherkin tests">
        <directory>./tests</directory>
    </testsuite>
    <testsuite name="Kawaii gherkin functional tests">
        <directory suffix=".phpt">./tests/functional</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
